doctype html
html(lang='en')
    head
        meta(http-equiv='Content-type' content='text/html; charset=utf-8')
        title= pageTitle
    body
        ul(class='list')
            - for (var x = 0; x < 16; x++)
                li(class='list__item get-sleep-1' overlay-data='<p>Mr.Robot<p><p>Season 1<p>')

        ul(class='list')
            - for (var x = 0; x < 16; x++)
                li(class='list__item get-sleep-2' overlay-data='<p>Mr.Robot<p><p>Season 2<p>')
